html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #1b1c1c;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  /*display: grid;*/
  /*place-items: center;*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  /*background: white;*/
  background: #1b1c1c;
  text-decoration-color: white;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  z-index: 10000;
  padding-left: 20px;  // Make room for logo
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  color: white;
}

nav ul li {
  list-style-type: none;
}

.nav-links a:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fa9f30;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover:after {
  width: 100%;
  left: 0;
}

.burger {
  display: none;
  cursor: pointer;
  margin: 20px;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333333;
  transition: all 0.3s ease;
}

h1 {
  /*color: #333333;*/
  color: white;
  font-size: 4rem;
  text-align: center;
}

#nameh1 {
  font-size: 7rem;
  color: #fa9f30;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  /*color: #333333;*/
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  /*color: #333333;*/
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


#projectButton,
#upworkMainButton,
#moreBlogButton {
  margin-top: 50px;
}

.projectLinks,
#resumeMain,
#contactMain {
  width: 800px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#contact img,
#servicesDiv img {
  background: #3a3c3c;
}

#servicesDiv,
#blogMain{
  /*display: flex;*/
  /*flex-direction: column;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#projectButton a,
#upworkMainButton a,
.projectLinks a,
#resumeMain a,
#contactMain a,
#servicesDiv a,
#moreBlogButton a,
.btn-box button {
  /*color: #333333;*/
  color: white;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 4px solid #333333;
  /*border-radius: 50px;*/
  /*background-color: white;*/
  background-color: #3a3c3c;
  transition: background-color 0.3s ease 0s;
}

.projectLinks a,
#resumeMain a,
#contactMain a,
.btn-box button,
#servicesDiv a,
.btn-box a {
  font-size: 0.8rem;
  border: 2px solid #333333;
  background-color: #3a3c3c;
  /*border-radius: 50px;*/
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 0px;
  text-transform: uppercase;
  padding: 4px 12px 10px 12px;
  /*padding-bottom: 10px;*/
  /*padding-top: 4px;*/
  /*padding-left: 12px;*/
  /*padding-right: 12px;*/
}

#resumeMain,
#contactMain,
#servicesDiv {
  justify-content: center;
  margin-top: 20px;
}

#resumeMain a,
#contactMain a,
#servicesDiv a {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-box button {
  cursor: pointer;
  margin: auto;
}

#projectButton a:hover,
#upworkButton a:hover,
#upworkMainButton a:hover,
.projectLinks a:hover,
#resumeMain a:hover,
#contactMain a:hover,
#servicesDiv a:hover,
.btn:hover,
.btn-box a:hover {
  background: #fa9f30;
}

/*a:hover + img {*/
/*  background: #fa9f30;*/
/*}*/


#upworkButton {
  display: flex;
  align-items: center;
  margin-left: 50%;
}

.btn-submit:hover {
  transform: none;
}

.projectLinks a img,
.btn img {
  width: 19px;
  height: 19px;
  position: relative;
  top: 4.5px;
  margin-left: 5px;
  /*background: #3a3c3c;*/
  background-color: #3a3c3c;
}

#resumeMain a img,
#contactMain a img,
#servicesDiv a img {
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

#footer-links img {
  width: 30px;
  height: 30px;
}

#servicesMain li {
  list-style: square;
}

/*Card slid: https://codepen.io/lyon-etyo/pen/OJmyMGd */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
  /*min-height: 100vh;*/
}

.container {
  /*border: 5px solid;*/
  display: flex;
  justify-content: center;
  /*max-width: 1200px;*/
  margin-block: 2rem;
  gap: 2rem;
}

.card img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  /*border-radius: 1em;*/
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card__body {
  padding: 1rem;
  display: flex;
  text-wrap: normal;
  overflow-wrap: anywhere;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  /*border-radius: 1em;*/
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}
.tag-yellow {
  background: #FFD400;
  /*background: linear-gradient(to bottom, #FFD400, #FFEA61);*/
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  /*border-radius: 50%;*/
}

.user__info > small {
  color: #666;
}


/* CSS Hexagons?: https://codepen.io/imohkay/pen/ZGbmoQ */

.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  font-size: 2rem;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  background-color: transparent;
  margin: 14.43px 0;
  border-left: solid 4px #333333;
  border-right: solid 4px #333333;
  /* transition: all 0.3s ease; */
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.3223px;
}

.hexagon:before {
  top: -17.6777px;
  border-top: solid 5.6569px #333333;
  border-right: solid 5.6569px #333333;
}

.hexagon:after {
  bottom: -17.6777px;
  border-bottom: solid 5.6569px #333333;
  border-left: solid 5.6569px #333333;
   right: 50px;
}

/*.hexagon:hover {*/
/*  background-color: #fa9f30;*/
/*}*/


#logo {
  margin: 10px;
  border: 4px solid black;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  transition: all 0.3s ease;
}

#logo img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

#logo:hover {
  background-color: #fa9f30;
}

p {
  /*color: #333333;*/
  color: white;
  font-size: 1.2em;
  line-height: 1.6;
  padding: 20px;
  width: 600px;
}

#servicesMain p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;

}

.p-project {
  width: 800px;
}

.p-tech {
  padding-top: 0px;
}

#aboutMeTitle,
#blogTitle,
#projectsTitle,
#resumeTitle,
#contactTitle,
#servicesTitle,
#techTitle {
  padding-top: 100px;
}

#recipix {
  padding-top: 50px;
}

#stonk,
#minmaxdnd,
#botbuddies {
  padding-top: 85px;
}

.projectTitle {
  padding-bottom: 15px;
  font-size: 2.5rem;
}

/*#techTitle {*/
/*  padding-bottom: 30px;*/
/*}*/

#hobbiesTitle {
  padding-bottom: 10px;
}

#aboutMeMain,
#hobbiesMain,
#skillsMain,
#servicesMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skillsDiv,
#hobbies,
#stonk,
#recipix,
#minmaxdnd,
#botbuddies,
#resume,
#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#aboutMe {
  padding-bottom: 70px;
}

#skillsMain {
  flex-direction: row;
  width: 1000px;
}

#servicesMain p img {
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

a {
  /*color: #333333;*/
  color: white;
}
a:visited {
  /*color: #333333;*/
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#top {
  width: 100%;
  min-height: 100vh;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#seh2 {
  min-height: 77px;
}

#projects {
  width: 100%;
}

button:hover {
  transform: scale(1.25);
}

.navbarIcon:hover {
  border: 3px solid #fa9f30;
}

#buttonAboutMe,
#buttonProjects,
#buttonResume,
#buttonGithub,
#buttonLinkedIn,
#buttonContact {
  background-color: transparent;
  width: 64px;
  height: 64px;
  border: none;
  transition: transform 0.3s;
}

.navbarIcon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

#selfpic {
  width: 320px;
  height: 320px;
  /*transform: skew(20deg);*/
  /*border-radius: 50%;*/
  /*border-top-left-radius: 30%;*/
  /*border-bottom-right-radius: 30%;*/
  background-image: url("/assets/portpicOld.png");
  /*background-image: url("/assets/portpic.jpg");*/
  background-color: #1b1c1c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 60px;
  /*filter: grayscale(1);*/
  /*transition: all 1s ease;*/
  border: 5px solid #333333;
}

/*#selfpic:hover {*/
/*  filter: grayscale(0);*/
/*  background-color: #fa9f30;*/
/*  transition: all 0.3s ease;*/
/*}*/

#hobbiesPics {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hobbiesIcon {
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

#videogames {
  background-image: url("/assets/hobbies/game.png");
}
#travel {
  background-image: url("/assets/hobbies/travel.png");
}
#climbing {
  background-image: url("/assets/hobbies/climbing.png");
}
#run {
  background-image: url("/assets/hobbies/jog.png");
}
#pillar {
  background-image: url("/assets/hobbies/pillar.png");
}
#hike {
  background-image: url("/assets/hobbies/hiking.png");
}
#book {
  background-image: url("/assets/hobbies/book.png");
}
#simulation {
  background-image: url("/assets/hobbies/simulation.png");
}

.techDiv {
  width: 320px;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  border: 1px solid #333333;
  /*background-color: #3a3c3c;*/
}

.CertDiv {
  width: 100%;
  /*min-height: 250px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  border: 1px solid #333333;
  /*background-color: #3a3c3c;*/
}

.tech {
  width: 64px;
  max-height: 64px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.techDivTitle {
  width: 100%;
  max-height: 27px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background-color: #333333;
  color: white;
  padding: 5px;
}

.tech img {
  width: 64px;
  max-height: 70px;
  /*background-color: #3a3c3c;*/
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fa9f30;
  color: #333333;
  text-align: center;
  border-radius: 6px;

  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fa9f30 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Slideshow container */
.slideshow-container {
  width: 800px;
  height: 450px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.stonkSlides,
.recipixSlides,
.minmaxdndSlides,
.botSlides {
  display: none;
}

.projectImage {
  width: 800px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#recipixslide1 {
  background-image: url("/assets/recipix/recipixslide1.png");
  background-size: contain;
}
#recipixslide2 {
  background-image: url("/assets/recipix/recipixslide-2.png");
  background-size: contain;
}
#minmaxdndslide1 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide1.jpeg");
  background-size: contain;
}

#minmaxdndslide2 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide-1.PNG");
  background-size: contain;
}

#minmaxdndslide3 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide-2.PNG");
  background-size: contain;
}
#stonkslide1 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide-2.PNG");
  background-size: contain;
}

#stonkslide2 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide-2.PNG");
  background-size: contain;
}

#stonkslide3 {
  background-image: url("/assets/minmaxdnd/minmaxdndslide-2.PNG");
  background-size: contain;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fa9f30;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #fa9f30;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.stonkDots,
.recipixDots,
.minmaxdndDots,
.botDots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border: 2px solid #333333;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.stonkDots:hover,
.recipixDots:hover,
.minmaxdndDots:hover,
.botDots:hover {
  background-color: #fa9f30;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}

/* Form Styling */
form {
  width: 320px;
  margin: 45px auto;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #333333;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333333;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #333333;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

label {
  color: #969696;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
  height: 1px;
  background-color: #333333;
}
.bar:before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fa9f30;
  transition: 300ms ease all;
  left: 0%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#copyright {
  margin-bottom: 20px;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  width: 320px;
}

#footer-links a {
  transition: transform 0.2s ease-in-out;
}

#footer-links a:hover {
  transform: scale(1.4);
}

@media only screen and (max-width: 1000px) {
  html {
    scroll-behavior: smooth;
  }
  #skillsMain {
    flex-direction: row;
    width: 320px;
  }

  #hobbiesMain {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .slideshow-container {
    width: 100%;
    height: 56.25vw;
    position: relative;
    margin: auto;
  }

  #stonk,
  #recipix,
  #minmaxdnd,
  #botbuddies {
    width: 100%;
  }

  .projectImage {
    width: 100%;
    height: 56.25vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .project-description {
    width: 100%;
  }

  p.p-project {
    width: 100%;
    padding: 28px;
    margin: 0px;
  }

  p.p-project.p-tech {
    padding-top: 0px;
  }

  .projectLinks,
  #resumeMain,
  #contactMain {
    width: 100%;
    flex-wrap: wrap;
  }

  .projectLinks a,
  #resumeMain a,
  #contactMain a,
  #servicesDiv a {
    margin-bottom: 15px;
  }
}

/* ------MOBILE PHONES STYLING------ */
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 3rem;
  }
  #nameh1 {
    font-size: 3.5rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .projectTitle {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    position: fixed;
    width: 100%;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    height: calc(100vh - 70px);
    top: 70px;
    /*background-color: white;*/
    background-color: #1b1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-left: 1px solid black;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .center-screen {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  #projectButton a,
  #upworkMainButton a {
    padding: 12px;
    font-size: 1.1rem;
    border: 3px solid #333333;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  p {
    line-height: 1.6;
    padding: 8px;
    margin: 20px;
    font-size: 1rem;
  }

  #skillsMain {
    flex-direction: row;
  }

  .skills {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbarIcon {
    width: 35px;
    height: 35px;
  }

  #selfpic {
    width: 240px;
    height: 240px;
    margin: 10px;
    margin-top: 50px;
  }

  #hobbiesPics {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
  }

  .hobbiesIcon {
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5px;
  }

  .slideshow-container {
    width: 100%;
    height: 100vw;
    position: relative;
    margin: auto;
  }

  .projectImage {
    width: 100%;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .project-description {
    width: 100%;
  }

  p.p-project {
    width: 100%;
    padding: 28px;
    margin: 0px;
  }

  p.p-project.p-tech {
    padding-top: 0px;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  #helloh2 {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 320px) {
  /* Form Styling */
  form {
    width: 300px;
    margin: 45px auto;
  }

  input,
  textarea {
    background: none;
    color: #333333;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
  }

  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 300px;
  }

  .bar {
    position: relative;
    display: block;
    width: 300px;
    height: 1px;
    background-color: #333333;
  }
}


